*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee; 
}
.name { 
    display: flex;
    justify-content: center;
}
.First-Name{ 
    color: black;
    font-size:250%
}
.Last-Name{ 
    color: red;
    font-size: 250%;  
}
.Mission-Ready{ 
    display: flex;
    justify-content: center;
    color: purple;
    font-size: larger;
}
header { 
    display: flex;
    flex-direction: column;
    background-color: beige;
    margin: -10px;
    border-bottom: solid black 5px;
    font-family: 'Oswald', sans-serif;
}
.social { 
    display: flex;  
}
.pic { 
    background-image:url(p8.jpeg);
    width: 800px;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 50%;
    border: 2px solid black; 
    overflow: hidden; 
}
.pic-container{ 
    display: flex;
    justify-content: center;
}
.button { 
    width: 150px;
    height: 50px;
    border: 1px solid #333;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 0.8s;
}
.button::before, .button::after{ 
    position: absolute;
    background: #eee;
    z-index: -1;
    transition: 0.8s;
    content: '';
}
.button::before{ 
    height: 50px; 
    width: 130px;
}
.button::after{ 
    width: 150px;
    height: 30px;
}
.button:hover::before{ 
    width: 0px;
    background: #eee;  
}
.button:hover::after{ 
    height: 0px;
    background: #eee;
}
.button:hover{ 
    background: #eee;
}
.socials{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px; 
    margin: 15px; 
}
.about{ 
    text-align: center;
    font-family: 'Oswald';
    padding: 0px 50px; 
} 
.form{ 
    display: flex;
    justify-content: center;
    font-family:'Oswald';
    border: solid ;
    margin: 5%;
}

@media screen and (max-width: 768px) {
    .name
    { 
        font-size: 15px; 
    }
    .socials{ 
        flex-direction: column;
    }
    .pic{ 
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width: 600px) {
    .name
    { 
        font-size: 10px; 
    }
    .pic{ 
        width: 350px;
        height: 350px;
    }
    
}  
